body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 80px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .input-container {
    display: flex;
    margin-bottom: 10px;
  }
  
  #taskInput {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 4px;
  }
  
  #addTaskButton {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #addTaskButton:hover {
    background-color: #45a049;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  .task-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .checkbox {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #999;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .checkbox.checked {
    background-color: #4caf50;
    border-color: #4caf50;
  }
  
  .checkmark {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    display: none;
  }
  
  .checkbox.checked .checkmark {
    display: block;
  }
  
  .task-text {
    flex-grow: 1;
    color: #333;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .task-text.completed {
    color: #999;
    text-decoration: line-through;
  }
  
  .delete-button {
    color: red;
    cursor: pointer;
    font-weight: bold;
  }
  
  .delete-button:hover {
    text-decoration: underline;
  }
  
  